@model Services.Models.UserEntity

@{
    ViewBag.Title = "Registrar Usuário";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
           
            <div class="Login">
                <div class="Logo">
                    <h2>Complete os seus dados</h2>
                </div>
                <div class="Forms">
                    @Html.EditorFor(model => model.First_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome", required = "required" } })
                    @Html.ValidationMessageFor(model => model.First_name, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.Last_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sobrenome", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Last_name, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", @placeholder = "CPF", required = "required" } })
                    @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = "Login", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senha", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <input type="submit" value="Criar Conta" class="form-control btn btn-primary BtnLogin" />
                </div>
            </div>
    }